<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <!-- Configuration des Endpoint  MMA -->
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <!-- Configuration des ServicesBehaviors  MMA -->
        <behavior name="serviceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!-- Configuration des services Employees MMA -->
    <services>
      <service name="MMAWcfService.EmployeeService" behaviorConfiguration="serviceBehaviors">
        <endpoint address="" contract="MMAWcfService.IEmployeeService" binding="webHttpBinding"
                  behaviorConfiguration="web">
        </endpoint>
      </service>

      <!-- Configuration des services Costomers MMA -->
      <service name="MMAWcfService.CustomerService" behaviorConfiguration="serviceBehaviors">
        <endpoint address="" contract="MMAWcfService.ICustomerService" binding="webHttpBinding"
                  behaviorConfiguration="web">
        </endpoint>
      </service>

      <!-- Configuration des services PayMentService MMA -->
      <service name="MMAWcfService.PayMentService" behaviorConfiguration="serviceBehaviors">
        <endpoint address="" contract="MMAWcfService.IPayMentService" binding="webHttpBinding"
                  behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
